<ion-content [fullscreen]="true">
  <div class="background-logo" style="height: 25%;margin-left: -10%; ">
    <img class="logo" style="height: 80%;" src="../../../assets/images/logo.png">
  </div>
  <ion-grid [formGroup]="loginForm">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" class="ion-padding ion-text-center">
        <ion-label>Sign In</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-input placeholder="email" type="email" name="email" formControlName="email" class="input_form"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ">
      <ion-col>
        <ion-input placeholder="password" formControlName="password" type="password" class="input_form">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-right">
      <ion-col>
        <div class="ion-text-right" style="padding: 7px;">
          <ion-label color="medium" (click)="navigateTo('forget-password')">Forgot password ?</ion-label> 
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ">
      <ion-col>
        <ion-button color="favorite" expand="block" (click)="login()" >Sign in</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col offset="3.5" class="ion-justify-content-center">
        <img src="../../assets/images/Fac.png" alt="">
        <img src="../../assets/images/goo.png" alt="">
        <img src="../../assets/images/twit.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button color="favorite" expand="block" fill="outline" (click)="navigateTo('sign-up')"> New? Create
          an
          Account</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-label style="color:#4d8394;">Terme Of Use</ion-label>
      <span>
        <ion-label style="padding: 0px 5px;" color="medium"> and </ion-label>
      </span>
      <ion-label style="color:#4d8394;">Privacy Policy</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
