.background-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;

    &__logo {
        align-self: center;
        width: 30%;
        height: auto;
    }
}

.input_form {
    background-color: #f0f0f0;
    border-radius: 5%;
}
