.background-promo {
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-image: url("../../assets/images/promo.jpg");
  background-size: 100vw 100%;

  &__label {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    align-self: flex-end;
  }
}

.categorie {
  background-color: #ff751a;
  border-radius: 30%;
}